<div class="row-pull-left">

<div class="col-md-6">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState1 = true" (closed)="panelOpenState1 = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Notification 1
                    </mat-panel-title>
                    <mat-panel-description>
                        {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>One evening, a boy called Jack and his sister called Jill went up a small hill near their house.
                    wanted to fetch a pail of water. But on their way down, Jack's feet tripped over some roots.
                    Jack fell down and broke the crown of his head.</p>
            </mat-expansion-panel>
        </mat-accordion>

  </div>
    <div class="col-md-6">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Notification 2
                    </mat-panel-title>
                    <mat-panel-description>
                        {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>One evening, a boy called Jack and his sister called Jill went up a small hill near their house.
                    wanted to fetch a pail of water. But on their way down, Jack's feet tripped over some roots.
                    Jack fell down and broke the crown of his head.</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<div class="row-pull-right">
    <div class="col-md-6">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState1 = true" (closed)="panelOpenState1 = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Notification 1
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelOpenState ? 'open' : 'closed'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>One evening, a boy called Jack and his sister called Jill went up a small hill near their house.
                        wanted to fetch a pail of water. But on their way down, Jack's feet tripped over some roots.
                        Jack fell down and broke the crown of his head.</p>
                </mat-expansion-panel>
            </mat-accordion>
    
      </div>
        <div class="col-md-6">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Notification 2
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelOpenState ? 'open' : 'closed'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>One evening, a boy called Jack and his sister called Jill went up a small hill near their house.
                        wanted to fetch a pail of water. But on their way down, Jack's feet tripped over some roots.
                        Jack fell down and broke the crown of his head.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
<!-- 
    <div class="row-md-6">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState3 = true" (closed)="panelOpenState3 = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Notification 3
                    </mat-panel-title>
                    <mat-panel-description>
                        {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>One evening, a boy called Jack and his sister called Jill went up a small hill near their house.
                    wanted to fetch a pail of water. But on their way down, Jack's feet tripped over some roots.
                    Jack fell down and broke the crown of his head.</p>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
    <div class="row-md-6">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState4 = true" (closed)="panelOpenState4 = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Notification 4
                    </mat-panel-title>
                    <mat-panel-description>
                        {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>One evening, a boy called Jack and his sister called Jill went up a small hill near their house.
                    wanted to fetch a pail of water. But on their way down, Jack's feet tripped over some roots.
                    Jack fell down and broke the crown of his head.</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>







    <div class="row">
        <div class="col-md-6">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState5 = true" (closed)="panelOpenState5 = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Self aware panel
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelOpenState ? 'open' : 'closed'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>One evening, a boy called Jack and his sister called Jill went up a small hill near their house.
                        wanted to fetch a pail of water. But on their way down, Jack's feet tripped over some roots.
                        Jack fell down and broke the crown of his head.</p>
                </mat-expansion-panel>
            </mat-accordion>


        </div>
        <div class="col-md-6">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState6 = true" (closed)="panelOpenState6 = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Self aware panel
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelOpenState ? 'open' : 'closed'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>One evening, a boy called Jack and his sister called Jill went up a small hill near their house.
                        wanted to fetch a pail of water. But on their way down, Jack's feet tripped over some roots.
                        Jack fell down and broke the crown of his head.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </div>


    <div class="row">
        <div class="col-md-6">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState7 = true" (closed)="panelOpenState7 = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Self aware panel
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelOpenState ? 'open' : 'closed'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>One evening, a boy called Jack and his sister called Jill went up a small hill near their house.
                        wanted to fetch a pail of water. But on their way down, Jack's feet tripped over some roots.
                        Jack fell down and broke the crown of his head.</p>
                </mat-expansion-panel>
            </mat-accordion>


        </div>
        <div class="col-md-6">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState8 = true" (closed)="panelOpenState8 = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Self aware panel
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelOpenState ? 'open' : 'closed'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>One evening, a boy called Jack and his sister called Jill went up a small hill near their house.
                        wanted to fetch a pail of water. But on their way down, Jack's feet tripped over some roots.
                        Jack fell down and broke the crown of his head.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </div>


    <div class="row">
        <div class="col-md-6">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState9 = true" (closed)="panelOpenState9 = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Self aware panel
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelOpenState ? 'open' : 'closed'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>One evening, a boy called Jack and his sister called Jill went up a small hill near their house.
                        wanted to fetch a pail of water. But on their way down, Jack's feet tripped over some roots.
                        Jack fell down and broke the crown of his head.</p>
                </mat-expansion-panel>
            </mat-accordion>


        </div>
        <div class="col-md-6">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState10 = true" (closed)="panelOpenState10 = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Self aware panel
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelOpenState ? 'open' : 'closed'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>One evening, a boy called Jack and his sister called Jill went up a small hill near their house.
                        wanted to fetch a pail of water. But on their way down, Jack's feet tripped over some roots.
                        Jack fell down and broke the crown of his head.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </div>


</div> -->