<h1 class="mat-dialog-title" style="color: #4d668c">Forget Password</h1>
<mat-dialog-content>
  <form [formGroup]="forgetPassword" (ngSubmit)="onRecoverPassword()">
    <input type="text" class="form-control" placeholder="Enter your Registered Mail" formControlName="registerdMail">
    <mat-error *ngIf="forgetPassword.controls.registerdMail.invalid && forgetPassword.controls.registerdMail.touched">
      <span class="alert-form">Enter Valid Mail id!!!</span>
    </mat-error>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close style="background-color: #4d668c;color:white;" (click)="onRecoverPassword">Get
    OTP
  </button>&nbsp;
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>


