<div class="container card-basic shadow">

    <div class="card">
        <h5 class="card-header">Independent Heavyweight Hooded Pullover Sweatshirt</h5>
        <div class="card-body">

            <div class="row">
                <div class="col-md-5 inner">
                    <!-- <h5 class="card-title">Independent Heavyweight Hooded Pullover Sweatshirt</h5> -->
                    <img
                        src="https://cdn.shopify.com/s/files/1/0055/1242/products/IND4000C-BLUA_0a0782f9-3c05-44a5-86c6-14b16f48ac73_2048x.jpg?v=1555356508">
                </div>
                <div class="col-md-7">
                    <p class="card-text">
                        We need bees. They pollinate most of our food. Now bees need us. Climate change and excessive
                        pesticide use have put them in danger of disappearing.
                    </p>
                    <hr>
                    <ul>
                        <li>Price: 120$</li>
                        <li>Fabric: Good</li>
                        <li>Washable: No! You can't</li>
                        <li>Smell: Yes! 36 Types Smell You Can Feel</li>

                    </ul>
                    <button class="btn btn-success btn-sm" (click)="addToCart()">Add to cart</button>&nbsp;
                    <button class="btn btn-primary btn-sm">Buy</button>
                </div>
            </div>
        </div>

        <!-- Card 2 -->

        <div class="card">
            <h5 class="card-header">[77% OFF] 2019 Planet Graphic Drop Shoulder Sweatshirt In GINGER | ZAFUL Europe</h5>
            <div class="card-body">


                <div class="row">
                    <div class="col-md-5 inner">
                        <!-- <h5 class="card-title">Independent Heavyweight Hooded Pullover Sweatshirt</h5> -->
                        <img
                            src="https://gloimg.zafcdn.com/zaful/pdm-product-pic/Clothing/2017/09/14/goods-first-img/1512949414697634331.jpg">
                    </div>
                    <div class="col-md-7">
                        <p class="card-text">
                            We need bees. They pollinate most of our food. Now bees need us. Climate change and
                            excessive pesticide use have put them in danger of disappearing.
                        </p>
                        <hr>
                        <ul>
                            <li>Price: 120$</li>
                            <li>Fabric: Good</li>
                            <li>Washable: No! You can't</li>
                            <li>Smell: Yes! 36 Types Smell You Can Feel</li>

                        </ul>
                        <a href="#" class="btn btn-success btn-sm">Add To card</a>&nbsp;
                        <a href="#" class="btn btn-primary btn-sm">Buy</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 3 -->

        <div class="card">
            <h5 class="card-header">Unisex Pullover Hooded Sweatshirt</h5>
            <div class="card-body">


                <div class="row">
                    <div class="col-md-5 inner">
                        <!-- <h5 class="card-title">Independent Heavyweight Hooded Pullover Sweatshirt</h5> -->
                        <img
                            src="https://cdn.shopify.com/s/files/1/0055/1242/products/AFX90UNC-CHT_2048x.jpg?v=1554849777">
                    </div>
                    <div class="col-md-7">
                        <p class="card-text">
                            We need bees. They pollinate most of our food. Now bees need us. Climate change and
                            excessive pesticide use have put them in danger of disappearing.
                        </p>
                        <hr>
                        <ul>
                            <li>Price: 120$</li>
                            <li>Fabric: Good</li>
                            <li>Washable: No! You can't</li>
                            <li>Smell: Yes! 36 Types Smell You Can Feel</li>

                        </ul>
                        <a href="#" class="btn btn-success btn-sm">Add To card</a>&nbsp;
                        <a href="#" class="btn btn-primary btn-sm">Buy</a>
                    </div>
                </div>
            </div>


            <!-- Card 4 -->

            <div class="card">
                <h5 class="card-header">Nike Kid's Team Club Sweatshirt</h5>
                <div class="card-body">


                    <div class="row">
                        <div class="col-md-5 inner">
                            <!-- <h5 class="card-title">Independent Heavyweight Hooded Pullover Sweatshirt</h5> -->
                            <img src="https://images-na.ssl-images-amazon.com/images/I/91ol3fRP7%2BL._UX679_.jpg">
                        </div>
                        <div class="col-md-7">
                            <p class="card-text">
                                We need bees. They pollinate most of our food. Now bees need us. Climate change and
                                excessive pesticide use have put them in danger of disappearing.
                            </p>
                            <hr>
                            <ul>
                                <li>Price: 120$</li>
                                <li>Fabric: Good</li>
                                <li>Washable: No! You can't</li>
                                <li>Smell: Yes! 36 Types Smell You Can Feel</li>

                            </ul>
                            <a href="#" class="btn btn-success btn-sm">Add To card</a>&nbsp;
                            <a href="#" class="btn btn-primary btn-sm">Buy</a>
                        </div>
                    </div>
                </div>

                <!-- Card 5 -->




            </div>